<library path="src">
  <class name="Ros2KnowledgeGraph" type="ros2_knowledge_graph_viewer.ros2_knowledge_graph.Ros2KnowledgeGraph" base_class_type="rqt_gui_py::Plugin">
    <description>
      A Python GUI plugin to visualize a ROS2 Knowledge graph.
    </description>
    <qtgui>
      <group>
        <label>Introspection</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to introspection.</statustip>
      </group>
      <label>ROS2 Knowledge Graph</label>
      <icon type="theme">preferences-system-network</icon>
      <statustip>A Python GUI plugin for visualizing the ROS2 Knowledge Graph.</statustip>
    </qtgui>
  </class>
</library>
